.container {
  contain: paint;
}

.project {
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 40px;
    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
    position: relative;

    &:hover .project__img  {
      transform: translate(0px);
    }
    &:hover .project__content {
      transform: translate(290px);
    }
    &:hover .project__icon--arrow {
      transform: rotate(45deg);
    }
    &:hover .project__btn:first-child {
      text-decoration: underline;
      text-underline-position: under;
    }
  }

  &__img-container {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  &__img {
    transition: .4s ease;
    width: 250px;
		height: auto;
    transform: translate(-2000px);
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  }
  &__icon--arrow {
    position: absolute;
    right: 0;
    top: 40px;
    right: 40px;
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  }

  &__content {
    max-width: 650px;
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  }

  &__title {
    margin: 0 0 5px;
  }

  &__text {
    margin: 0 0 10px;
  }

  &__tools {
    margin: 0 0 15px;
    font: $fontProjectTools;
  }

  &__btns {
    display: flex;
    gap: 30px;
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 8px;
    font: $fontProjectLink;
    transition: all .4s ease;
    &:hover {
      color: $colorWhite;
    }
  }

  &__icon {
    color: $textColor;
    transition: color .8s ease;
    margin-bottom: -3px;
    
    &--github {
      margin-left: 3px;
    }
  }
}
