.hero {
  &__content {
    margin: 150px auto 100px;
    text-align: center;
    width: 610px;
    position: relative;
  }

  &__photo-container {
    display: block;
    width: 82px;
    height: 48px;
    background: $bgColor;
    border: 2px solid $borderColor;
    border-radius: 100px;
    position: absolute;
    top: -58px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  }

  &__icon-photo {
    width: 82px;
    position: absolute;
    top: -85px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  &__text {
    margin: 0 0 10px;
    &:hover .hero__photo-container  {
      background: #d7a5ff;
    }
  }

  &__keyboard-container {
    display: block;
    bottom: 6px;
    right: 82px;
    width: 82px;
    height: 48px;
    background: $bgColor;
    border: 2px solid $borderColor;
    border-radius: 100px;
    position: absolute;
  }

  &__icon-keyboard {
    width: 74px;
    height: 80px;
    bottom: -2px;
    right: 82px;
    position: absolute;
  }
}

.hero__text {
  &:hover + .hero__photo-container  {
    background: #d7a5ff;
  }
}

