// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1200;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Colors
$mainColor: #131418;
$bgColor: #1A1A1A;

$borderColor: #242424;
$blackColor: #161616;
$textColor: #9A9A9A;
$colorWhite: #ffffff;



// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: $textColor;
$burgerActiveColor: #fefefe;

// Fonts
$fontMain: 'Outfit', sans-serif;;

$fontHeading1: 400 48px / 58px $fontMain; 
$fontHeading2: 400 32px / 42px $fontMain; 
$fontHeading3: 400 18px / 28px $fontMain; 
$fontText: 300 14px / 20px $fontMain; 
$underTitle: 300 16px / 26px $fontMain;
$fontProjectLink: 300 20px / 30px $fontMain;
$fontProjectTools: 400 20px / 30px $fontMain;